# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

*.exe
*.out
### Java
*.class
### Qt
moc_*.cpp
qrc_*.cpp
ui_*.h
*.pro.user
### Des fichiers temporaires des éditeurs de texte
*~
*.lock
*.DS_Store
*.swp
*\#
### Pas de mercurial, CVS, rcs
.hg
.svn
CVS*

### LaTeX
*.aux
*.dvu
*.idx
*.ilg
*.ind
*.tic
*.toc
*.log
*.dvi
*.log
*.backup
*.bak
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.synctex.gz
*.pyg
*-eps-converted-to.pdf
_minted-*/
mkd_*.tex
### QtCreator
*.pri
*.autosave
*.pro.user
*.pro.user.*
callgrind.out.*
.~lock*
build-*/*

### Misx
.netrwhist*


